name: Deploy Flask API to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy to Cloud Run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: kdss-479615

      - name: Build and push image
        run: |
          gcloud builds submit --tag gcr.io/kdss-479615/kdss-api .

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy kdss-api \
            --image gcr.io/kdss-479615/kdss-api \
            --region asia-south1 \
            --allow-unauthenticated
